div.cursor {

  display: inline-block;
  border-left:.2em solid rgb(34, 34, 34);
  background: #FFF;
  margin-left: 1px;

  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
}

@-webkit-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: rgb(34, 34, 34) }
}

@-moz-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: rgb(34, 34, 34) }
}