$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


// ------ VARIABLES & MIXINS ------

$white: #FCFFF5;
$cream: #D1DBBD;
$green: #91AA9D;
$light-blue: #3E606F;
$success: rgba(89, 211, 73, 0.75);
$gray: #838B8E;
$light-gray: #e5e5e5;
$dark-gray: #444444;
$orange: #F15D25;
$blue-gray: #464C59;
$electric-blue: #36B5EA;

// "Code" colors

$yellow: rgb(168, 190, 98) ;
$purple: rgb(179, 147, 188);
$blue: rgb(128, 162, 191);
$mint: rgb(136, 190, 183);
$comment: rgb(106, 106, 106);

@mixin sexy-emboss($opacity:0.8, $opacity2:0.05) {
    box-shadow: 0 1px 0 rgba(255, 255, 255, $opacity),
                inset 0 1px 0 rgba(0, 0, 0, $opacity2);
}

@mixin sexy-font-shadow($opacity:0.15){
    text-shadow: 0 1px 0 rgba(0, 0, 0, $opacity);
}

// ------ BASICS ------

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {

    -webkit-font-smoothing: antialiased;

    * {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.6;
        color: $dark-gray;

    }
}


.wrapper {
    position: relative;
}

p {
    font-size: 1.25em;
}

a {
    color: $electric-blue;
    border-bottom: 1px dashed $light-gray;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }

    span {
        color: $electric-blue;
    }
}

.tip {
    text-decoration: none;

    &:hover {
        color: #364FEA;
        text-decoration: none;
    }
}

div.cursor {
    height: 1.5em;
    display: inline-block;
    border-left:.2em solid rgb(34, 34, 34);
    background: #FFF;
    margin-left: 1px;

    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
}

@-webkit-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: rgb(34, 34, 34) }
}

@-moz-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: rgb(34, 34, 34) }
}

// ------ GREETINGS SECTIONG ------

#greetings {

    padding-bottom: 15%;

        h1 {
            font-size: 5em;
            margin-top: 1.6em;
            margin-bottom: 1em;
        }

        img {
            width: 250px;
            margin-right: 30px;
            float: left;
            border-radius: 100%;
            margin-bottom: 6em;
        }

        h3 {
            font-family: 'PT Serif', serif;
            font-weight: 700;
            margin-top: 4em;
            margin-bottom: .5em;
        }
}

// ------ HISTORY SECTION ------

#history {

    background-color: rgb(34, 34, 34);

    a.tip {
        color: $purple;

        &:hover {
            color: #364FEA;
        }
    }

    .comment {
        color: $comment;
    }

    h2 {
        color: $white;
        margin-top: 6em;
        margin-bottom: 2em;
    }

    span {
        font-family: 'Anonymous Pro', sans-serif;
    }

    .function-wrapper {

        .yellow {
            color: $yellow;
        }

        .purple {
            color: $purple;
        }

        .blue {
            color: $blue;
        }

        .mint {
            color: $mint;
        }

        * {
            font-family: 'Anonymous Pro', sans-serif;
            color: #FFF;
        }

        p {
            color: #FFF;
            padding-left: 2em;
        }

        .sub-p {
            margin-left: 3em;
        }
    }
}

.comment-p {

    margin-top: 1.5em;
    margin-bottom: 8em;
}

// ------ MOTIVATION SECTION ------

#motivation {

    background-image: url(http://upload.wikimedia.org/wikipedia/commons/2/24/Transparent_Square_Tiles_Texture.png);
    background-repeat: repeat;
    color: #FFF;
    background-color: $light-blue;

    b {
        color: $electric-blue;
    }

    img {
        width: 5em;
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-2.5em;
        margin-left:-2.5em;
    }

    .reason {

    }

    h2 {
        font-family: 'PT Serif', serif;
        color: #FFF;
        text-align: center;
        padding-top: 4em;
        padding-bottom: 1.5em;
    }

    p {
        margin: auto;
        color: #FFF;
        padding-top: 2em;
        margin-bottom: 2em;
        @include sexy-font-shadow();
    }

    .tip {
        padding-bottom: 0;
    }

    .circle {
        line-height: 10em;
        border-radius: 100%;
        width: 10em;
        height: 10em;
        position: relative;
        margin: auto auto;
        padding-top: 3em;
        border: .5em solid $orange;
    }

    .container:last-child {
        padding-bottom: 6em;
    }
}


// ------ SKILLS SECTION ------

#skills {

    background-color: $white;
    padding: 8em 0;

    h1  {
        color: $dark-gray;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 2em;
        font-weight: 700;
    }

}

.skill-div {
    background-image: url();
    background-repeat: repeat;
    background-color: #FD795E;
    border-radius: 1em;
    margin: 2em auto;
    padding: 2em;
    max-width: 50em;
    @include sexy-emboss();

    .skill-category * {
        color: $dark-gray;
    }

    img {
        width: 3em;
        display: inline-block;
    }

    h3 {
        font-family: 'PT Serif', serif;
        display: inline-block;
        margin: 0 1em;
    }

    ul {
        margin-left: 4em;
        list-style-type: circle;
    }
}

#html-css {
    background-color: rgb(138, 202, 228);
}

#javascript {
    background-color: #FE9F8B;
}

#collaboration {
    background-color: #A7E89F;
}

// ------ CONTACT SECTION ------

#contact {
    color: $dark-gray;

    h2 {
        padding-top: 4em;
        padding-bottom: .5em;
    }

    p {
        padding-bottom: 3.5em;
    }

    img {
        width: 34px;
        margin-right: .275em;
    }
}

.spacer {
    background-color: $blue-gray;
    padding: 8em 0;
}

.soc-med-div {
    display: inline-block;
    padding-bottom: 8em;
    margin-right: 3.2em;

    a {
        border-bottom: none;
    }

    :hover {
        text-decoration: none;
        color: #364FEA;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 800px;
    }
}





